# БД (PostgreSQL)
POSTGRES_DB=qna_docker
POSTGRES_USER=qna_user
POSTGRES_PASSWORD=qna_pass

# Django
SECRET_KEY=django-insecure-change-in-production-1234567890
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# Подключение из Django
DB_NAME=qna_docker
DB_USER=qna_user
DB_PASSWORD=qna_pass
DB_HOST=db
DB_PORT=5432
